/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.css';



#root {
  margin: 0 auto;
  padding: 0;
}



.layout{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3fr 2fr 1fr; /* this line stacks them in mobile*/
  grid-template-areas:  'navbar'
                        'sidebar'
                        'content'
                        'footer'
 ;
  gap: 15px;                     
}


.sidebar--bar,
.maincontent--bar,
.footer--bar {
  background-color: #B7A186;
  /* background-color: #d9d9d9; */
  color: white;
  padding: 10px;
  /* border: skyblue 1px solid; */
  border-radius: 5px;
}

.navigation--bar{
  grid-area: navbar;
  padding: 10px;
  color: white;
  background-color: #B7A186;
  /* background-color: #d9d9d9; */
}

.nav--content {
  display:flex;
  width: 100%;
  align-items: center;
}

.img--nav--edit{
  display: flex;
  padding: 12px;
  height: 70px;
}

.text--nav--edit {
    display: flex;
    text-wrap: none;
    width: 100%;
    color: #6c6b65;
}

.button--nav--container{
  display: flex;
  width: 100%;
  justify-content: end;
}

.button--nav--edit {
  height: 30px;
  width: 100px;
  background-color: #6c6b65;
  color: white ;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

.button--nav--edit:hover {
  background-color: #e74c3c;
  cursor: pointer; 
}

.sidebar--bar{
  grid-area: sidebar;
  display: flex;
  padding: 0px;
}

.maincontent--bar{
  grid-area: content;
  align-items: stretch;
}

.sidebar--bar {
  overflow-y: auto; 
  
}

.side--content div {
  min-height: 50px; 
  max-height: auto;
}

.content--edit {
  /* color: #6c6b65; */
  color: #351127;
}

/* CSS for input field and form */
.footer--bar{
  grid-area: footer;
}

.footer--container--edit {
  display: flex;
}


.form--container {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.form--edit {
  display: flex;
  height: 100px;
}

.input--footer {
  width:50vw;
  border-radius: 5px;
  border: none;
}


.footer--button {
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

.footer--button:hover{
  background-color: #8a8984;
  cursor: pointer; 
}

.button--footer--container {
  display: flex;
  align-content: center;
  justify-content: end;
}

.image--footer--edit {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 5px;
  outline: none;
}

@media only screen and (min-width: 768px){
  .layout{
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 3fr 2fr 1fr ;
      grid-template-areas:  'navbar navbar navbar navbar'
                            'sidebar content content content'
                            'sidebar content content content'
                            'sidebar footer footer footer'
      
      ;
                           
  }

}

/* CSS for sidebar on main */
aside {
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  width: 100%;
}

.scrolldown--edit {
  width: 40px;
  padding: 0;
  height: 40px;
  cursor: pointer;
}


.side--content {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-evenly;
  align-items: center;
  padding: 2px;
  margin: 5px;
  gap: 10px;
}

.side--content div {
  background-color: #6c6b65;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
}

.btn-no-outline:focus {
  outline: none;
}

.tasks--edit {
  width: 10vw; 
  color: #d9d9d9;
  margin: 10px;
  text-wrap: none;
  gap: 10px;
}


/* login css below */

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.alert--edit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 10vw;
  height: 15vh;
  padding: 10px;
}


.login--body--container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-image: url(./images/Landscape1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b3a495;
}

.login--container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 70%;
  max-width: auto;
  grid-template-columns: repeat(2, 1fr);
  
}

.left--side--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 50vh;
  color: white;
  max-width: 960px;
  background-color: rgba(109, 100, 100, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.description-edit {
  font-weight: bold;
  color: rgb(220, 213, 213);
}

.login--image--edit {
  display: flex;
  padding: 1px;
  width: 8vw;
  height: auto;
  margin-right: 20px;
  margin-top: 25px;
}

.right--side--container {
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 50vh;
  max-width: 960px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



button.edit--login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-inline: auto;
}

.form--control {
  background-color: #f3f6f7;
  outline: transparent;
  border-radius: 5px;
}

.form--group{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

input{
  outline: none;
}

label{
  margin-right: 2px;
}

.align--login--text {
  text-align: center;
  margin-top: 20px;
}

/* CSS for the register page */

.register--body--container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-image: url(./images/Landscape2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b3a495;
}

.register--container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 70%;
  max-width: auto;
  grid-template-columns: 1fr;
  /* background-color: rgb(109 100 100); */
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: rgba(179, 164, 149, 0.5);
}

.text-muted {
  color: white;
  text-decoration: none;
}

a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}

/* css for create new task button on footer */
.create--new--task--edit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  padding: 10px;
  background-color: rgba(247, 243, 243, 0.603);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.create--new--task--edit:hover {
  background-color: #8a8984;
  cursor: pointer; 
}

